
  <h1>Stupid Coaching</h1>
    <div class="qa">
      <%= @question %>
      <p>-You</p>
    </div>
    <br>
    <div class="qa">
      <br>
      <%= @answer%>
      <p>-Coach</p>
    </div>
  <br>
  <br>
  <p class="help btn"><%= link_to "Ask another question", ask_path %></p>


